
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #F5F5F5;
}

.navbar{
  margin-top: -40px;
}

.header{
  height: 850px;
  padding: 50px;
width: 100%;
  background-image: url(https://ik.imagekit.io/tjsmandcollp/Web_Images/who_we_are_jAP0FMvktE.jpg?updatedAt=1638260316169);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  position: relative;
  background-position: center;
  
}

.header .text{

  margin-top: 60px;
}

.header h1{
  font-weight: bold;
  font-size: 50px;
}



h1{
   font-size: clamp(1vw);
}
/* .col{
  border-style: solid;
  border-color: blue;
} */
i{

  font-size: 5rem;
}

#mv{
  color: #000;

margin: 75px 75px; 

  background: #ffffff;
box-shadow: 4px 4px 10px #ffffff,
-4px -4px 10px #7a7a7a;


}

#mv h2{
  font-size: 55px;
  color: #007bb8;
  text-shadow: 1px 1px 2px #030303,
-1px -1px 2px #ffffff;
}

/* .service h2{

  font-size: 30px;
  text-shadow: 1px 1px 2px #030303,
-1px -1px 2px #ffffff;
} */

.service a{
text-decoration: none;

color: #000;
text-shadow: 2px 2px 4px #ffffff,
-1px -4px 6px #030303;

}



.service h1{
  font-size: 75px;
  color: #007bb8;

text-shadow: 1px 1px 2px #030303,
-1px -1px 2px #ffffff;
}

.footer  i{

font-size: 2em;
padding: 5px;

}
#button{
  font-size: 40px;
 
}

.sectors{
height: auto;
width: 100%;
  background-image: url(https://ik.imagekit.io/tjsmandcollp/Web_Images/svg_gb1hz-v78.svg?updatedAt=1638260310637 );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;


}

.services{
  padding: 50px 0px 25px 0px;

}

.sectors p{

  font-size: 15 px;
}

.sectors h2{
  font-size: 40px;
}

.nav-item a{
  font-size: 16px;
}

.mobile{
  display: none;
}

footer a{
  text-decoration: none;
}

@media only screen and (max-width: 650px) {

  .container {
    width: 100%!important;
    max-width: none!important;
  }
.logo{
  
  width: 100%!important;
  height: 50%;
}

.navbar-toggler {
  display: none;
}

.navbar{
 
  margin-top: 0px;
}
.header{
  height: auto;
  padding: 10px!important;
width: 100%;
}

.header h1{
 
  font-size: 20px;
  font-weight: bolder;
}

.text{
padding: 0px!important;
margin-top: 30px!important;
width: 100%!important;
}

.mobile{
  display: block;
}

.desktop{
  display: none;
}

.text span {
  font-size: 8px;

}

.text p{
  font-size: 12px;
  font-weight: 100;
  
  
}

/* .header h1{
font-weight: bold;
} */


#button{
  font-size: 10px!important;
 
}

.service h1{
  font-size: 30px;
  color: #007bb8;
padding: 10px!important;
}

.services{
  padding: 5px!important;
}

hr{
  display: none;
}

.services h3{
padding: 5px;
  font-size: 22px;
}

.services .col{

  width: 50%;
  padding: 0px;
}


#mv{
  color: #000;
margin: 0%;
 
padding: 0%!important;
}

#mv .mv1{
 
  padding: 5%!important;
}

#mv h2{
  padding: 0%!important;
  margin: 0%;
  font-size: 20px;
  color: #007bb8;

}

.sectors h2{
  font-size: 15px;
  padding: 15px!important;
}

.sectors{
  padding: 5px!important;
}

.sector{
  padding: 5px!important;

}

.sector img{

  width: 50px!important;
}

.sector p{
  font-size: 10px!important;
}

#contact{
  padding: 5px!important;
}




}
/* @media only screen and (max-width: 350px){

 
}
} */

