* {

    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {

    background-color: #ffffff;
opacity: 1;
background-image: radial-gradient(#444cf7 0.9500000000000001px, #ffffff 0.9500000000000001px);
background-size: 19px 19px;
}

.jumbotron{

    height: 650px;
    background-color: #ffffff;
opacity: 1;
background-image: radial-gradient(#444cf7 0.9500000000000001px, #ffffff 0.9500000000000001px);
background-size: 19px 19px;
       margin-top: -50px;

}




.aboutpage {
    height: 200px;
text-align: center;
    position: relative; 
    box-shadow: outset 2000px 0 0 0 rgba(41, 41, 41, 0.658);
}

.aboutpage h2{
    padding-top: 40px;
}

#header h1{
    padding: 10px;
    color: #007bb8;
    font-weight: bolder;
    
text-shadow: 4px -4px 8px #c2c2c2,
-4px 4px 8px #ffffff;
}


#header {
color: #007bb8;
color: #ffffff;
text-shadow: 1px -1px 6px #404040,
-1px 1px 6px #ffffff;
display: block;
    text-align: left;
    margin-top: 50px;
    
    padding: 50px;
    
}

.jumbotron .h{

    margin-top: 50px;
}
.mv{
    margin-top: -100px;
    /* z-index: 0; */
    position: relative;
    background-color: #ffff;
    box-shadow: 1px 10px 10px rgb(199, 199, 199);
}
.mission {
font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 70px;
}

.mv1 {
    padding: 20px;
}

.mission h2 {
    font-size: 50px;
    color: #007bb8;
}

.services {
    padding: 50px;
    margin-top: 10px;
    position: relative;
    background-color: #ffff;
    box-shadow: 10px 10px 10px rgb(199, 199, 199);
}

.Ofservices{

    text-align: center;
}

.Ofservices h2{

    font-size: 50px;
}
.Ofservices span {

    color: #007bb8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
  .about {
margin: 50px;
padding: 50px;  
border-radius: 20px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  11px 11px 19px #7b7b7b,
             -11px -11px 19px #ffffff;  
  }

  .whoweare{
      padding-left: 60px;

     
      
  }
  .whoweare h2 {
      font-size: 40px;
  }

  .whoweare p{
    padding: 0px 100px  0px 0px;
  }

/* .whychoose{

    padding: 30px;
    text-align: center;
} */

.whychooseus{
    padding: 50px;
    color: #ffffff;
    background: linear-gradient(90deg, #007bb8, #378fb9)

}

.whychooseus .why{
    color: #fff;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}

.btnn .btn{
    top: 50%;
    position: relative;
    
}

.footer  i{

    font-size: 2em;
    padding: 5px;
    
}

.startTyper {
    display: inline;
}
    
#typed-cursor{
    opacity: 1;
    
    font-size: 20px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* @-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
} */ 


@media only screen and (max-width: 650px){

    .navbar-brand img{

        width: 100px;
    }

.jumbotron{
    height: 250px;
}

#header {
    padding: 5px;
}

#header h2{
    font-size: 20px;
}

#header h1{
    font-size: 25px;
}



    .mission  {   
    width: 100%;
    margin-left: 20px;
   
    padding: 1px;
    
}

.mission h2 {

    font-size: 35px;
}

.mission p{
    width: 100%;
}

.mv1{
    padding: 1px;
    width: 100%;
    margin-right: 1px;
   
}

.mv{
    margin-top: 25px;
    width: 100%;
}

.service{
    width: 100%;
}
.service  .servicelist{

    width: 100%;
    padding-left: 20px;
    
    
}

.service .btn {

    display: none;
}

.whychooseus {

    width: 100%;
    padding: 1px;
}

.whychooseus .why{
    font-size: 35px;
    padding-top: 15px;
}

.whychooseus .btn{
    display: none;
}

.aboutpage{
    height: 150px;
}


.sidebar1 {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar1 a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar1 a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar1 a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content1 {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  




}

